.container {
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: 40px 40px 40px 40px auto;
grid-gap: 3px;
}

.container header {
grid-column: 2/3;
grid-row: 1/2;
}

.container section {
  grid-column: 2/3;
  grid-row: 5/6;
}
